
// icon mixins
.m-icons-mixin (@size, @margin: 0px) {
	display: inline-block;
	width: @size;
	height: @size; 
	vertical-align: top;
	margin: @margin;
	background-image: url("@{msfticonSpritePath}");
	background-position: 0 0;
	background-repeat: no-repeat; 
}

.button-background (@color, @lightercolor) {
	border: none;	
}

.gradient-background-mixin(@firstcolor, @secondColor) {
	#gradientstyles > .vertical(@firstcolor, @secondColor);	
}

#gradientstyles {
	.vertical(@startColor, @endColor) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
  }

}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clipstyle) {
  -webkit-background-clip: @clipstyle;
     -moz-background-clip: @clipstyle;
          background-clip: @clipstyle;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}