

// Fonts
@defaultFontFamily:		"Segoe UI", Helvetica, Arial, sans-serif;
@defaultFontSize:		14px;
@defaultLineHeight: 	12px;

// Button styles
@btnMinWidth:			42px;
@btnIconMinWidth:		14px;
@btnBigIconMinWidth:	34px;


// Sprite icons path
// -------------------------
@iconSpritePath:          	"../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     	"../img/glyphicons-halflings-white.png";
@msfticonSpritePath:		"../img/syncfusion-icons.png";
@msfticonWhiteSpritePath:	"../img/syncfusion-icons-white.png";

// Colors 
// -------------------------
@whiteColor:				#ffffff;
@kindofblackColor:			#444444;
@nearblackColor:			#333333;
@almostblackColor:			#222222;
@blackColor:				#111111;

@grayColor:					#f5f5f5;
@darkGrayColor:				#f1f1f1;

@redColor:
@darkRedColor:

@blueColor:
@darkBlueColor:

@greenColor:
@darkGreenColor:

@purpleColor:
@darkPurpleColor: